<article class="profile">
  <h1>{{user.profile.name}}</h1>
  {{#each games}}  
    <article class="game">

        <h2><a href="/games/{{this._id}}">{{this.name}}</a></h2>
        <img src={{this.art}} alt="Game Art">
        <p>Keywords: {{this.keywords}}</p>
        <h3>Description:</h3>

        <p>{{this.description}}</p>
    </article>
  {{/each}}
</article>